name: Build WeChatHook

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-13
    env:
      THEOS: ${{ github.workspace }}/theos
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          brew install ldid make

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $THEOS

      - name: Download iOS SDK (Fast Mode)
        run: |
          # 直接下载 iOS 14.5 SDK 压缩包，避免克隆整个仓库导致的 Error 128
          curl -L -o "$THEOS/sdks/iPhoneOS14.5.sdk.tar.xz" https://github.com/xybp888/iOS-SDKs/releases/download/iOS-14.5/iPhoneOS14.5.sdk.tar.xz
          # 解压 SDK
          cd $THEOS/sdks
          tar -xf iPhoneOS14.5.sdk.tar.xz
          rm iPhoneOS14.5.sdk.tar.xz

      - name: Fix Makefile Target
        run: |
          # 强制修改 Makefile 匹配我们下载的 SDK 版本
          sed -i '' 's/latest:14.0/14.5:14.5/g' Makefile

      - name: Build Tweak
        run: |
          # 编译
          make package MESSAGES=yes

      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: WeChatHook_Dylib
          path: .theos/obj/debug/WeChatHook.dylib
