name: Build WeChatHook

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare Theos
        uses: subdiox/theos-action@v1
        with:
          theos-src: https://github.com/theos/theos
          sdks-src: https://github.com/theos/sdks

      - name: Build Tweak
        run: |
          make package MESSAGES=yes

      - name: Upload Dylib
        uses: actions/upload-artifact@v3
        with:
          name: WeChatHook_Dylib
          path: .theos/obj/debug/WeChatHook.dylib
